In [1]:
import pandas as pd
import numpy as np

## English Dataset

In [2]:
eng1_df = pd.read_csv("scraped_tweets_eng_part_1.csv")
eng2_df = pd.read_csv("scraped_tweets_eng_part2.csv")

In [3]:
1-eng1_df[~eng1_df["tweet_text"].isna()].shape[0]/eng1_df.shape[0]

0.32805460750853244

In [4]:
1-eng2_df[~eng2_df["tweet_text"].isna()].shape[0]/eng2_df.shape[0]

0.26206666666666667

In [37]:
eng_df = pd.concat([eng1_df[~eng1_df["tweet_text"].isna()], eng2_df[~eng2_df["tweet_text"].isna()]]).reset_index(drop=True)

In [38]:
eng_df.groupby("HateLabel").count()

           TweetID  LangID  TopicID  tweet_text
HateLabel
0.0          11069   11069    11069       11069
2.0           4922    4922     4922        4922

In [49]:
eng_df.groupby("TopicID").count()

         TweetID  LangID  HateLabel  tweet_text
TopicID
0.0         1054    1054       1054        1054
1.0         7509    7509       7509        7509
2.0         1199    1199       1199        1199
3.0         5175    5175       5175        5175
4.0         1054    1054       1054        1054

In [39]:
eng_df["tweet_text"] = eng_df["tweet_text"].str.replace(r'https\S+', '', case=False)
eng_df["tweet_text"] = eng_df["tweet_text"].str.replace(r'@\w+', '', case=False)
eng_df["tweet_text"] = eng_df["tweet_text"].str.strip()

/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_85838/1164941403.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  eng_df["tweet_text"] = eng_df["tweet_text"].str.replace(r'https\S+', '', case=False)
/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_85838/1164941403.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  eng_df["tweet_text"] = eng_df["tweet_text"].str.replace(r'@\w+', '', case=False)

In [41]:
eng_df.to_csv("english_hatespeech_final_dataset.csv", index=False)

## Turkish Dataset

In [42]:
tr1_df = pd.read_csv("scraped_tweets_turkish_part1.csv")
tr2_df = pd.read_csv("scraped_tweets_turkish_2.csv")

In [43]:
1-tr1_df[~tr1_df["tweet_text"].isna()].shape[0]/tr1_df.shape[0]

0.3388971219093675

In [44]:
1-tr2_df[~tr2_df["tweet_text"].isna()].shape[0]/tr2_df.shape[0]

0.24576866079089

In [45]:
tr_df = pd.concat([tr1_df[~tr1_df["tweet_text"].isna()], tr2_df[~tr2_df["tweet_text"].isna()]]).reset_index(drop=True)

In [46]:
tr_df.groupby("HateLabel").count()

           TweetID  LangID  TopicID  tweet_text
HateLabel
0             9670    9670     9670        9670
2             8476    8476     8476        8476

In [50]:
tr_df.groupby("TopicID").count()

         TweetID  LangID  HateLabel  tweet_text
TopicID
0           3121    3121       3121        3121
1           3020    3020       3020        3020
2           3703    3703       3703        3703
3           4330    4330       4330        4330
4           3972    3972       3972        3972

In [47]:
tr_df["tweet_text"] = tr_df["tweet_text"].str.replace(r'https\S+', '', case=False)
tr_df["tweet_text"] = tr_df["tweet_text"].str.replace(r'@\w+', '', case=False)
tr_df["tweet_text"] = tr_df["tweet_text"].str.strip()

/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_85838/675643940.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tr_df["tweet_text"] = tr_df["tweet_text"].str.replace(r'https\S+', '', case=False)
/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_85838/675643940.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  tr_df["tweet_text"] = tr_df["tweet_text"].str.replace(r'@\w+', '', case=False)

In [48]:
tr_df.to_csv("turkish_hatespeech_final_dataset.csv", index=False)